!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wikionrails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row
        .col-sm-4.col-md-3.col-lg-2.border-right
          = link_to root_path do
            = image_tag 'logo.png', class: 'img-fluid mt-3'

          .mt-3
            .text-muted.border-bottom.mb-1= t 'main.other_langs'
            %ul.list-unstyled
              - I18n.available_locales.each do |locale|
                %li= link_to t("locales.#{locale}"), url_for(locale: locale)

        .col
          .row
            .col-12
              = render 'users/userbar'
            .col-12
              = yield
